<div class="sidebar">
    <img src="../assets/Logo.png" class="p-3 logo">
    <nav class="navbar flex-column  justify-content-between side-nav">
        <div class="text-white"><i class="fa fa-home px-3 py-2 text-white" aria-hidden="true" style="font-size: 30px;"></i>Home</div>
        <div class="text-white"><i class="fa fa-rocket px-3 py-2  text-white" aria-hidden="true" style="font-size: 30px;"></i> Savings</div>
        <div class="w-100 active-icon text-blue text-center"><i class="fa fa-calculator px-3 py-2 text-center " aria-hidden="true" style="font-size: 30px;"></i>Interest</div>
        <div class="text-white"><i class="fa fa-cog py-2  text-white px-3" aria-hidden="true" style="font-size: 30px;"></i>Settings</div>
        <div class="text-white"><i class="fa fa-user py-2  text-white px-3" aria-hidden="true" style="font-size: 30px;"></i>Account</div>
        <div class="text-white"><i class="fa fa-sign-out py-2  text-white px-3" aria-hidden="true" style="font-size: 30px;"></i>Logout</div>
    </nav>
</div>

<div class="content p-3">
    <div class="text-blue p-1" style="font-size: 1.5rem;">INTEREST RATE</div>
    <div class="text-blue p-1" style="font-size: 1rem;">Let's see how much you can make</div>
    <div class="intreset-calc my-3 row">
        <div class="col-md-8" style="padding: 1rem;
        background-color: #083E9E !important;border-radius: 0.5rem;flex: 1;">
            <div class="form-group">
                <label for="amount">Amount</label>
                <input type="number" class="form-control" id="amount" aria-describedby="emailHelp" placeholder="Enter Amount" [(ngModel)]="amount" (ngModelChange)="calculateIntreset()">
            </div>
            <div class="form-group">
                <label for="plan">Savings Plan</label>
                <select name="plan" id="plan" class="plan w-100">
                  <option value="piggyBank">Piggy Bank(10%)</option>
                </select>
            </div>
            <div class="form-group">
                <label for="days">Days</label>
                <input type="number" class="form-control" id="days" placeholder="Enter Number of Days" [(ngModel)]="days" (ngModelChange)="calculateIntreset()">
            </div>

            <div class="d-flex justify-content-center ">
                <button type="submit" class="btn btn-primary intrest-btn" (click)="calculateIntreset()">Calculate Interest</button>
            </div>

        </div>
        <div class="col-md-4" style="padding: 2rem;
        background-color: #083E9E !important;border-radius: 0.5rem;margin: 3rem;">
            <div class="text-center">
                Total Balance
            </div>
            <div class="text-center">
                <span class="naira">N </span>{{amount + intrestRate}}
            </div>
            <hr/>
            <div class="text-center">
                Interest Rate - 10%
            </div>
            <div class="text-center">
                Interest Amount - <span class="naira">N </span>{{intrestRate}}
            </div>
        </div>
    </div>
</div>